h1 {
  font-size: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e7e7e7;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #1d1d1d;
  background-color: #e7e7e7;
  font-size: 20px;
}

button:hover {
  transform: scale(1.1) perspective(1px)
}

#sketch-grid {
  display: grid;
  width: 600px;
  height: 600px;
  box-shadow: 0px 0px 10px gray;
  background-color: white;
}

#slider-value {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}

.activeBtn {
  background-color: black;
  color: white;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 40px;
  max-width: 1100px;
  justify-content: flex-start;
  align-items: center;
}

.options {
  width: 200px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  background: #6ea5ff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%;
  background: #6ea5ff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* MEDIA QUERIES */

@media (max-width: 860px) {
  .options {
    width: 150px;
    gap: 16px;
  }

  #sketch-grid {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 50px;
  }

  .main {
    flex-direction: column-reverse;
  }

  #sketch-grid {
    width: 300px;
    height: 300px;
  }
}
